@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');

body {
   background-color: #303030;
   color: #fafafa;

   display: flex;
   flex-direction: column;
   align-items: center;
}

h1 {
   display: flex;
   margin-top: 150px;
   margin-bottom: 80px;
   justify-content: center;
   font-size: 45px;
   font-weight: bold;
   font-family: Rajdhani, monospace;
}